/**
 * Edit/add post/page page.
 */
#secondary-title-input {
	height: 30px;
	width:  100%;
}

/**
 * Settings page
 */
#secondary-title-settings input[type="text"] {
	bottom:   1px;
	height:   28px;
	position: relative;
}

#secondary-title-settings .clear {
	clear: both;
}

#secondary-title-settings strong {
	font-weight: bold;
}

#secondary-title-settings #title-format .description code {
	cursor: pointer;
}

#secondary-title-settings #categories-list .category-batch {
	float: left;
	width: 20%;
}

#secondary-title-settings #categories-list .category-batch li {
	margin-bottom: 0;
}

#secondary-title-settings #categories-list .category-batch li input {
	margin-right: 10px;
}

#secondary-title-settings #report-bug {
	margin-top: 20px;
}